body {
  
  background-color: #6F1D1B;
  color: #FFE6A7;
  font-family: 'Libre Baskerville', serif;
  border: solid, 4px;
  border-color: #432818;
}
 
img {
  width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: auto;
}


.p{
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
  

}

  

nav {
  display: flex;
  align-items: space-between;
  padding: 5px;
  width: 100vw;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: 1px solid #432818;
}
nav a {

  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
  font-family: 'Libre Baskerville', serif;
  font-size: 24px;
  font-weight: 900;
  color: #FFE6A7;
  padding-right: 20px;
}

nav a:hover {
  border-bottom: 1px solid #FFE6A7;

}



@media only screen and (min-width: 440px) and (max-width: 1024px)  {
  body {
    background-color: #99582A;
    color: #6F1D1B;
  }
  input {
    background-color:  #6F1D1B;
    color: #FFE6A7;
  }
  nav a{
    font-size: 22px;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    padding-right: 18px;
    }
  
}

@media only screen and (max-width: 440px) {

body {
  background-color:#BB9457;
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;

}
nav {

  align-items: flex-end;
}
img {
  width: 300px;
}

.show-container {
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  color: #432818;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  background-color: #FFE6A7;
  width: fit-content;
  height: 300px;
  overflow-y: auto;

}
nav a{
font-size: 16px;
flex-direction: row;
flex-wrap: wrap-reverse;
padding-right: 16px;
}
}


