body {
  margin: 0;
  background-color: #6F1D1B;
  color: #FFE6A7;
  font-family: 'Libre Baskerville', serif;
}
 


.nav {
  background-color: black;
  padding: 5px;
  
}

.nav h1 {
  font-family: 'Libre Baskerville', serif;
font-weight: bold;
font-size: 28px;
color: FFE6A7;

background-color: 99582A;

}

a {
  text-decoration: none;
  color: FFE6A7;

}


h2 {

  font-family: 'Libre Baskerville', serif;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-size: 16px;
  font-weight: bold;
  color: black;

}



.p{
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;
  font-size: 20px;
  color: black;
  

}

.home {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;

  /* justify-content: space-around, flex-end; */
  font-size: 16px;
  color: black;
}

nav {
  display: flex;
  padding: 5px;
  width: 100vw;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: 1px solid #7d80da;
}
nav a,
main a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: all 0.2s;
  font-family: 'Libre Baskerville', serif;
  font-weight: 900;
  color: #FFE6A7;
}
nav a:hover,
main a:hover {
  border-bottom: 1px solid #FFE6A7;
}


.typeahead {
  position: relative;
}
.typeahead div {
  position: absolute;
  top: 26px;
  right: 0;
  background-color: white;
  border: 1px solid #FFE6A7;
  box-sizing: border-box;
  padding: 2px 10px;
  box-shadow: 3px 3px 8px grey;
}
.typeahead div p {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: italic;
  color: #FFE6A7;
  border-bottom: 1px solid tranparent;
  transition: all 0.2s ease-in-out;
  width: fit-content;
}
.typeahead div p:hover {
  border-bottom: 1px solid currentColor;
}

form label,
form input,
form button {
  margin: 5px 0;
  font-family: 'Libre Baskerville', serif;
  width: 50vw;
  box-sizing: border-box;
}
form input:focus,
form button:focus {
  outline: 1px solid #FFE6A7;
}
form h4 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  font-style: italic;
  color: #35352e;
}
form label {
  color:#FFE6A7;
  font-weight: 600;
  text-shadow: 3px 3px 6px sandybrown;
}
form input,
form button {
  font-weight: 600;
  background-color: #FFE6A7;
  color: #432818;
  transition: all 0.2s;
}
form button:hover {
  color: #432818;
  background-color: #BB9457;
}
